<header>
  <div class="toggleMenu">
    <button type="button" mat-icon-button  (click)="toggle()">
      <mat-icon >menu</mat-icon>
    </button>
    <span class="title">BroVideo</span>
  </div>
  <label for="search" class="search">
    <i class="fas fa-search"></i>
    <input name="search" class="input-search" placeholder="Search..." type="text">
  </label>
  <button mat-raised-button> 搜尋</button>

</header>

<div class="content">
  <div class="navBar" [ngClass]="phone ? 'navBar-hidden' : ''">
    <nav [ngClass]="phone ? 'nav-hidden' : ''">
      <ul>
        <li><a routerLink="/home">首頁</a></li>
      </ul>
    </nav>
  </div>


  <div class="right-content" style="flex:8">
    <router-outlet></router-outlet>
  </div>

</div>
