.sidenav-container {
  // height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

header {
position: fixed;
display: flex;
align-items: center;
justify-content: center;
left: 0px;
right: 0px;
z-index: 100;
height: 60px;
}
nav {
  z-index: 9999;
  position: fixed;
  height: 100vh;
  top: 60px;
  bottom: 0px;
  background-color: #333;
  color: #fff;
  width: 150px;
  ul{
   list-style: none;
   padding: 0px;
   li{
     cursor: pointer;
     padding-left: 10px;
     color:#eee;
     text-decoration: none;
     &:hover{
      background-color: lighten(#333, 10%);
       color: #fff;
     }
   }
  }
}

.fa-search {
  position: absolute;
  left: 4px;
  color: black;
  top: 6px;
  font-size: 20px;
}
.search {
position: relative;
margin-left: 20px;
margin-right: 20px;
}
.input-search {
  width: 500px;
  height: 30px;
  text-indent: 26px;
  border:none;
  border-radius: 10px;

}
.search :focus{
    outline: none;
    box-shadow: 0 0 0.5em #2ff;

}
.content {
  position: relative;
  top: 60px;
  display: flex;
}
.navBar {
  width: 150px;
}

.navBar-hidden {
  flex: 0;
}
.toggleMenu {
  position: absolute;
  left: 0px;
}
@media (max-width: 600px) {
  .toggleMenu {
    position: static;
  }
  .title{
    display: none;
  }
  // nav {
  //   left: -150px;
  // }
  .content {
    display: block;
  }
  .input-search {
    width: 200px;
  }

}

.nav-hidden {
  left: -150px;
}
