

body {
  padding: 0;
  display: flex;
  background: #7A419B;
  min-height: 100vh;
  background: linear-gradient(135deg, #7c1599 0%, #921099 48%, #7e4ae8 100%);
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.player {
  width: 100%;
  position: relative;
  font-size: 0;
  overflow: hidden;
  margin: 0px;
  height: 80vh;
  background-color: black;
}

.player__video {
  width: 100%;
  height: 100%;

}

.player__controls{
  position: relative;
  bottom: 60px;
  opacity: 0;
  transition: ease-in 0.2s;
}
.player:hover{
  .progress{
  transform: scaleY(2);
  }
  .player__controls{
    opacity: 1;
    display: block;
  }
}
button, input{
  cursor: pointer;
}
.progress__filled{
  background-color: #fff;
}
.progress{
  cursor: pointer;
  display: flex;
  background-color: #888;
  width: 100%;
  height: 2px;
  transition: ease-in 0.2s;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
}
button:hover {
  // background-color: #ccc;
  color: #ccc;
}
button:focus {
  border: 0;
}
.volume__dialog{
  display: none;
  background-color: white;
  position: relative;
  top: 0px ;
  height: 100%;
  width: 100%;
}

// .volume__button:focus .volume__dialog{
//   display: block;
// }
